.inputs{
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin: 10px 0;
}

.inputs:focus{
    outline-width: 1px;
    outline-color: rgb(9, 171, 235);
    outline-style: solid;
}
