{% extends "base.html" %}
{% load static %}


<div>
    {% block container %}
    <link rel="stylesheet" href="{% static 'styles/style2.css' %}">
    {% comment %} <script src="{% static 'js/main.js' %}" ></script> {% endcomment %}

    <div class='mainbody'>
        <a href="{% url 'newitem' %}" class="btn">New</a>
            <div class="mainSection">
                {% for item in items %}
                <a href="{% url 'getdetails' item.id %}" >
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-item">{{item.itemName}}</div>
                        <div class="card-item">{{item.description}}</div>
                        <div class="card-item">{{item.count}}</div>
                        <div class="card-item">{{item.actualCount}}</div>
                        <div class="card-item">{{item.diff}}</div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>

        <script src="{% static 'js/main.js' %}" ></script>
        {% endblock container %}
</div>