{% extends "base.html" %}

{% block container %}
    <form action="additem" method="post">
        {% csrf_token %}
        <div class="inputs">
            <label for="group">Item Name</label>
            <input type="text" name="itemName" placeholder="Item Name">
        </div>
        <div class="inputs">
            <label for="group">Description</label>
            <input type="text" name="description" placeholder="Description">
        </div>
        <div class="inputs">
            <label for="group">Group</label>
            <input type="number" name="group" placeholder="group" value=1>
        </div>
        <div class="inputs">
            <label for="group">Count</label>
            <input type="number" name="count" placeholder="Initial Count">
        </div>
        <div class="inputs">
            <label for="group">Actual Count</label>
            <input type="number" name="actualCount" placeholder="Current Count">
        </div>
        <div class="inputs">
            <input type="submit" value="Add Item">
        </div>  
    </form>
{% endblock container %}